@import "base.css";

:root {
    --bg-primary: #101020;
    --bg-primary-light: #202020;
    --bg-primary-darker: #080810;
    --bg-secondary: #2ed92e;
    --bg-secondary-darker: #156215;
    --bg-tertiary: #3838d4;
    --bg-tertiary-darker: #18185b;
    --text-primary: #d7d7d7;
    --text-secondary: #9191ff;
    --text-warn: #e3e325;
    --text-danger: #d62121;
    --text-link: #59eb82;
    --chunk-size: 100vh;
}

#go-back {
    position: absolute;
    color: var(--text-secondary);
    font-size: 10vmin;
    left: 10px;
    top: 20px;
    transition: 250ms;
}

#go-back:hover {
    opacity: .6;
}

.bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 35px;
}

.posts {
    position: relative;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.posts #loading-posts {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 8vmin;
    transform: translate(-50%, -50%);
    animation: fade 2s infinite;
}

.posts #error {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 8vmin;
    color: var(--text-danger);
    transform: translate(-50%, -50%);
}

.post {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "title"
        "body"
        "date";
    text-align: center;
    height: 80%;
    width: 80%;
    margin: 20px;
    padding: 20px;
    background: var(--bg-primary-darker);
}

.post h1 {
    grid-area: title;
    font-family: 'Ubuntu', sans-serif;
    font-size: 45px;
    margin-bottom: 40px;
    padding: 8px;
    background: var(--bg-tertiary);
    border-radius: 10px;
}

.post #body {
    grid-area: body;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    padding: 8px;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-wrap: break-word;
}

.post h3 {
    grid-area: date;
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
}
