@import "base.css";

:root {
    --bg-primary: #101020;
    --bg-primary-light: #202020;
    --bg-primary-darker: #080810;
    --bg-secondary: #2ed92e;
    --bg-secondary-darker: #156215;
    --bg-tertiary: #3838d4;
    --bg-tertiary-darker: #18185b;
    --text-primary: #d7d7d7;
    --text-secondary: #9191ff;
    --text-warn: #e3e325;
    --text-danger: #d62121;
    --text-link: #59eb82;
    --chunk-size: 100vh;
}

#go-back {
    position: absolute;
    color: var(--text-warn);
    font-size: 10vmin;
    left: 10px;
    top: 20px;
    transition: 250ms;
}

#go-back:hover {
    opacity: .6;
}

.repos {
    display: flex;
    flex-direction: column;
}

.repo {
    background: var(--bg-primary-darker);
    padding: 3vmin;
    margin: 2.5vmin;
    width: max-content;
    border-radius: 8px;
}

.repo:has(h1:target) {
    animation: target_repo 1s infinite;
}

.repo h1 {
    font-size: 5vmin;
    margin-bottom: 2vmin;
}

.repo h3 {
    font-size: 3vmin;
}

.repo h4 {
    font-size: 2.7vmin;
}

.repo h1 a {
    text-decoration: none;
    color: var(--text-link);
    transition: 250ms;
}

.repo h1 a:hover {
    opacity: .6;
}

.repo .stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5vmin;
}

.repo .stats #forks {
    color: var(--text-secondary);
}

.repo .stats #stars {
    color: var(--text-warn);
}

.featured-repos {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes target_repo {
    0% {
        background: var(--bg-primary-darker);
    }

    50% {
        background: var(--bg-tertiary-darker);
    }

    100% {
        background: var(--bg-primary-darker);
    }
}

@media (max-width: 800px) {
    .featured-repos {
        flex-direction: column;
    }

    .repo {
        max-width: 80vmin;
    }
}
