* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    color: white;
    background: #202020;
}

.under-construction {
    display: grid;
    place-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.under-construction .card-bg {
    background: #404040;
    padding: 20px;
    border-radius: 8px;
}

.card-bg * {
    margin: 8px 0;
}