* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.nothing-here {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    margin: 80px auto;
    width: fit-content;
    padding: 40px;
    background: #404040;
    border: 10px solid #303030;
    border-radius: 25px;
}

/* BANNER */

.banner {
    background-color: #202020;
    padding: 20px 0;
}

.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner a {
    transition: 250ms;
}

/* .banner a i {
    position: absolute;
    padding: 0 30px;
    font-size: 1.5rem;
}

.banner a i:hover {
    animation: icon-hover 500ms forwards;
}

.banner a i:not(:hover) {
    animation: icon-hover-end 500ms forwards;
} */

.navbar {
    position: fixed;
    bottom: 0;
}

.card {
    max-width: max-content !important;
    min-width: 320px !important;
}

#project-list {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 50px;
}

/* ANIMATIONS */

/* @keyframes icon-hover {
    from {
        color: #ffffff;
        font-size: 1.5rem;
    }

    to {
        color: rgb(77, 243, 113);
        font-size: 2rem;
        transform: rotateZ(360deg);
    }
}

@keyframes icon-hover-end {
    from {
        color: rgb(77, 243, 113);
        font-size: 2rem;
        transform: rotateZ(360deg);
    }
    
    to {
        color: #ffffff;
        font-size: 1.5rem;
    }
} */

@media (max-width:820px) {
    .navbar {
        bottom: 0;
    }
}