#post-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card::before, .card::after {
    position: absolute;
    content: '';
}

.card::before {
    background: rgb(40, 197, 1);
    height: 150px;
    width: 60px;
    transform: rotateZ(50deg) translateY(-18px) translateX(-18px);
    top: -20px;
    z-index: -2;
}

.card::after {
    background: rgb(21, 255, 0);
    height: 150px;
    width: 50px;
    transform: rotateZ(50deg) translateX(-20px) translateY(-20px);
    top: -20px;
    z-index: -1;
}