@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --bg-primary: #101020;
    --bg-primary-light: #202020;
    --bg-primary-darker: #080810;
    --bg-secondary: #2ed92e;
    --bg-secondary-darker: #156215;
    --bg-tertiary: #3838d4;
    --bg-tertiary-darker: #18185b;
    --text-primary: #d7d7d7;
    --text-warn: #e3e325;
    --text-danger: #d62121;
    --text-link: #59eb82;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

*::selection {
    background: rgba(128, 128, 128, .4);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--text-primary);
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background: #d7d7d750;
}

.wrap-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-info {
    opacity: .4;
}

.welcome-section {
    height: 100vh;
    grid-area: welcome;
}

body {
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas: 
        "navbar"
        "welcome"
        "content"
        "whoami"
        "contact";
    overflow-x: hidden;
    font-family: 'Josefin Sans', sans-serif;
    height: 100vh;
    width: 100vw;
    background: var(--bg-primary);
    color: var(--text-primary);
}

.navbar {
    position: relative;
    grid-area: navbar;
    background: var(--bg-tertiary);
}

.navbar .navbar-bars {
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 12vmin;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vmin;
}

.navbar ul li {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 4vmin;
    list-style: none;
}

.navbar ul li a {
    color: var(--text-primary);
    text-decoration: none;
    transition: color 250ms;
}

.navbar ul li a:hover {
    color: #ffffff;
}

.navbar.navbar-floating {
    position: fixed;
    margin: 0.6vmin;
    top: 0;
    left: 0;
    z-index: 2;
    transition: transform 780ms cubic-bezier(0,.85,0,.96);
    transform: scaleX(.4) scaleY(.3) translate(-100px, -200px);
}

.navbar.navbar-floating .navbar-bars {
    display: block;
}

.navbar.navbar-floating ul {
    display: flex;
    flex-direction: column;
    transition: opacity 250ms;
    opacity: 0;
}

.navbar.navbar-floating ul li {
    margin: 1vmin 0;
}

.navbar.navbar-floating:hover {
    transform: scale(1);
    border-radius: 0;
}

.navbar.navbar-floating:hover .navbar-bars {
    display: none;
}

.navbar.navbar-floating:hover ul {
    opacity: 1;
}

.welcome-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform: translateY(-45px);
    text-align: center;
    height: 400px;
    width: 700px;
}

.welcome-card h1 {
    font-size: 6vmin;
    min-width: 100vmin;
    margin-bottom: 20px;
}

.welcome-card p {
    font-size: 3vmin;
    min-width: 100vmin;
    margin-bottom: 10px;
}

.welcome-card h3 {
    font-size: 3.5vmin;
    min-width: 100vmin;
    color: var(--text-link);
    opacity: .6;
}

#scroll-down {
    position: fixed;
    width: 100vw;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    color: #d7d7d750;
    background-color: #e3e32510;
    text-align: center;
    font-size: 6.5vmin;
    transition: opacity 500ms;
    animation: scroll_down_animation 2s infinite;
}

#my-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    grid-area: content;
    height: 100vh;
}

#my-content aside h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 10vmin;
}

#my-content aside p {
    font-family: 'Raleway', sans-serif;
    color: #d7d7d750;
    font-size: 3.5vmin;
}

#whoami {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-area: whoami;
    height: 100vh;
}

#whoami h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 10vmin;
}

#whoami p {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    line-height: 140%;
    font-size: 3.3vmin;
    margin: 10px 60px 0 60px;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-area: contact;
    height: 100vh;
}

#contact h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 10vmin;
}

#contact p {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 3.3vmin;
}

#contact .contact-options {
    display: flex;
    justify-content: space-around;
    width: 50vw;
    background: var(--bg-primary-darker);
    margin: 3.4vmin 0;
    padding: 3.4vmin;
}

#contact .contact-options a {
    font-size: 4vmin;
    color: var(--text-primary);
    text-decoration: none;
}

#contact .contact-options h2 {
    font-size: 4vmin;
}

.content-cards,
.content-card {
    width: 60vmin;
    aspect-ratio: 5 / 7;
}

.content-card {
    position: absolute;
    background: black;
    border-radius: 1vmin;
    cursor: pointer;
    transition: transform 600ms;
}

.content-card:active {
    box-shadow: 0 0 5px 10px white;
}

.content-card:nth-child(1) {
    background-image: url("../assets/Youtube\ card.png");
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateX(-20%) rotate(-5deg);
}

.content-card:nth-child(2) {
    background-image: url("../assets/github\ card.png");
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(5deg);
}

.content-card:nth-child(1):hover {
    transform: translateX(-105%) rotate(5deg);
}

.content-card:nth-child(2):hover {
    transform: rotate(-5deg);
}

@keyframes scroll_down_animation {
    0% {
        background-color: #e3e32510;
        color: #d7d7d750;
    }
    50% {
        background-color: #e3e3251a;
        color: #d7d7d770;
    }
}
