@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --bg-primary: #101020;
    --bg-primary-light: #202020;
    --bg-primary-darker: #080810;
    --bg-secondary: #2ed92e;
    --bg-secondary-darker: #156215;
    --bg-tertiary: #3838d4;
    --bg-tertiary-darker: #18185b;
    --text-primary: #d7d7d7;
    --text-warn: #e3e325;
    --text-danger: #d62121;
    --text-info: #1e2d4a;
    --text-link: #59eb82;
}

* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--text-primary);
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background: #d7d7d750;
}

.wrap-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-section {
    height: 100vh;
    grid-area: welcome;
}

body {
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas: 
        "navbar"
        "welcome"
        "content";
    overflow-x: hidden;
    font-family: 'Josefin Sans', sans-serif;
    height: 100vh;
    width: 100vw;
    background: var(--bg-primary);
    color: var(--text-primary);
}

.navbar {
    grid-area: navbar;
    background: var(--bg-tertiary);
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.navbar ul li {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    list-style: none;
}

.navbar ul li a {
    color: var(--text-primary);
    text-decoration: none;
    transition: color 250ms;
}

.navbar ul li a:hover {
    color: #ffffff;
}

.welcome-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform: translateY(-45px);
    text-align: center;
    height: 400px;
    width: 700px;
}

.welcome-card h1 {
    margin-bottom: 20px;
}

.welcome-card p {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.welcome-card h3 {
    color: var(--text-link);
    opacity: .6;
}

#scroll-down {
    position: fixed;
    width: 100vw;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    color: #d7d7d750;
    background-color: #e3e32510;
    text-align: center;
    font-size: 2.6rem;
    transition: opacity 500ms;
    animation: scroll_down_animation 2s infinite;
}

#my-content {
    display: flex;
    grid-area: content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes scroll_down_animation {
    0% {
        background-color: #e3e32510;
        color: #d7d7d750;
    }
    50% {
        background-color: #e3e3251a;
        color: #d7d7d770;
    }
}
